body {
    color: #734b1a;
    line-height:1.3;
    background-color:#FFD8A7;
    text-align: center;
    font-family:'Courier New','Andale Mono','Osaka Mono','monospace';
}

.title {font-size: 32px;}

.title img {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
}

.hello {
    font-size: 32px;
    font-weight: bolder;
}

.icons img{
    display: inline-block;
    width: 48px;
}